/* CSS for DiveXBlock */

iframe {
	width: 100%; 
	height: 600px; 
	display:block; 
	margin: 0 auto;
}

.bodyhtml {
     background: transparent !important;
     color: transparent !important;
     background-color: transparent !important;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     -webkit-backface-visibility: visible;
}

.iframe-wrapper{
	height: 600px; 
	overflow-y: auto;
}

.interactive-button-wrapper{
	cursor: pointer;
}

@media only screen and (max-width : 480px) {
	.interactive-button-wrapper{
		height: 400px !important;
	}
}

@media only screen and (max-width : 380px) {
	.interactive-button-wrapper{
		height: 300px !important;
	}
}

.mobile-iframe{
	overflow: auto;
}

.interactive-iframe-fullscreen{
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
    width: 100%;
}

.interactive-button-fullscreen{
	cursor: pointer;				
	z-index: 9999;
	position: absolute;
	top: 160px;
	left: 44px;
	border: 2px solid #000;
	width: 75px;
	text-align: center !important;
	font-size: 19px;
	opacity: 0.7;
}

.Top-Left{
	top: 20px;
	left: 40px;
}
.Top-Center{
	top: 20px;
}
.Top-Right{
	top: 20px;
}

.interactive-button-fullscreen:hover{
	opacity: 1;
}

.interactive-button-fullscreen p{
	margin: 0px !important;
}

.hidden{
	display: none;
}

input:disabled{
	opacity: 0.5;
}