/* CSS for WistiaXBlock */

.wistia_block {
    -webkit-box-shadow: 0px 0px 8px 3px rgba(119,136,153,0.5);
	-moz-box-shadow: 0px 0px 8px 3px rgba(119,136,153,0.5);
	box-shadow: 0px 0px 8px 3px rgba(119,136,153,0.5);
}
