<div class="interactivehtml5_block">
	<div id="wrapper-modal"  style="display:none;">
        
        <div id="container">
	        <p>Help the bug find the matching receptor.</p>
	        <img id="row1" src="http://hmsdev.edxinstances.org/static/asset/clone_selected_receptor.png" />
	        <img id="row1glow" src="http://hmsdev.edxinstances.org//static/asset/clone_selected_receptor_glow.png" />
	        <img id="microbe" src="http://hmsdev.edxinstances.org/static/asset/microbe.png" />
	        <audio id="recognitionSound" preload="auto">
	        	<source src="http://hmsdev.edxinstances.org/static/asset/short_click_01.mp3" />
	        </audio>
        </div>

        <div id="expansion-container">
	        <img id="row2" src="http://hmsdev.edxinstances.org/static/asset/clone_expansion_level1.png" />
	        <img id="row3" src="http://hmsdev.edxinstances.org/static/asset/clone_expansion_level2.png" />
	        <img id="row4" src="http://hmsdev.edxinstances.org/static/asset/clone_expansion_level3.png" />
	        <img id="row5" src="http://hmsdev.edxinstances.org/static/asset/clone_expansion_level4.png" />
        </div>
        
    </div>
	<div id="button-wrapp">
		<p>Click on the Expand Button to start</p>
		<a >Expand</a>
	</div>
</div>
