<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
	<ul class="list-input settings-list">
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="interactive_edit_name">Display Name</label>
                <input class="input setting-input" id="interactive_edit_name" value="{{ display_name }}" type="text">
            </div>
            <span class="tip setting-help">Display name for the interactive XBlock</span>
        </li>   
		<li class="field comp-setting-entry is-set">
			<div class="wrapper-comp-setting">
                <label class="label setting-label" for="interactive_edit_src">SOURCE URL</label>
                <input class="input setting-input" id="interactive_edit_src" value="{{ src }}" type="text">
            </div>
            <span class="tip setting-help">The URL for your SOURCE.</span>
		</li>	
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="interactive_img_src">Expand image URL</label>
                <input class="input setting-input" id="interactive_img_src" value="{{ imageSrc }}" type="text">
            </div>
            <span class="tip setting-help">The URL for your expand image.</span>
        </li>   
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="interactive_exit_src">Exit button image URL</label>
                <input class="input setting-input" id="interactive_exit_src" value="{{ exitSrc }}" type="text">
            </div>
            <span class="tip setting-help">Image URL for your exit button.</span>
        </li>   

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="exit_button_position">Select exit button position:</label>
                <select class="input setting-input" id="exit_button_position" value="{{buttonPosition}}">
                    
                    <option value="Top-Left" {% if "Top-Left" == buttonPosition %}selected="selected"{% endif %}>Top-Left</option>
                    <option value="Top-Center" {% if "Top-Center" == buttonPosition %}selected="selected"{% endif %}>Top-Center</option>
                    <option value="Top-Right" {% if "Top-Right" == buttonPosition %}selected="selected"{% endif %}>Top-Right</option>
                    <option value="Custom" {% if "Custom" == buttonPosition %}selected="selected"{% endif %}>Custom</option>
                </select>
                <span class="tip setting-help">Example: Drag and Drop Ranking</span>
            </div>
        </li>

		<li class="field comp-setting-entry is-set">
			<div class="wrapper-comp-setting">
                <label class="label setting-label" for="interactive_edit_buttontop">Top coordinate for the exit button (px).</label>
                <input class="input setting-input" id="interactive_edit_buttontop" value="{{ buttonTop }}" type="text">
            </div>
            <span class="tip setting-help">Top coordinate for the exit button (px).</span>
		</li>	
		<li class="field comp-setting-entry is-set">
			<div class="wrapper-comp-setting">
                <label class="label setting-label" for="interactive_edit_buttonleft">Left coordinate for the exit button (px).</label>
                <input class="input setting-input" id="interactive_edit_buttonleft" value="{{ buttonLeft }}" type="text">
            </div>
            <span class="tip setting-help">Left coordinate for the exit button (px).</span>
		</li>	
		<li class="field comp-setting-entry is-set">
			<div class="wrapper-comp-setting">
                <label class="label setting-label" for="interactive_edit_buttoncolor">Color of your exit button.</label>
                <input class="input setting-input" id="interactive_edit_buttoncolor" value="{{ buttonColor }}" type="text">
            </div>
            <span class="tip setting-help">Color of your default exit button. Use words ('red') or hexadecimal values ('#c41731'). Disabled if custom exit button image URL is provided.</span>
		</li>	
	</ul>

	<div class="xblock-actions">
        <span class="xblock-editor-error-message"></span>
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">Save</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">Cancel</a>
            </li>
        </ul>
    </div>
</div>