<div class="interactive-xblock">
	<div class="interactive-button-wrapper" title="Click here to go fullscreen.">
	  <p>Expand</p>
	</div>
	<div class="iframe-wrapper">
		<iframe class="interactive-iframe" src="{{ src }}"></iframe>
	</div>

	<div class="hidden">
		<p class="buttonTop">{{ buttonTop }}</p>
		<p class="buttonLeft">{{ buttonLeft }}</p>
		<p class="buttonColor">{{ buttonColor }}</p>
		<p class="imageSrc">{{ imageSrc }}</p>
		<p class="exitSrc">{{ exitSrc }}</p>
		<p class="buttonPosition">{{ buttonPosition }}</p>
	</div>
</div>
