/* CSS for DiveXBlock */

iframe {
	width: 100%; 
	height: 600px; 
	display:block; 
	margin: 0 auto;"
}

.dive-button-wrapper{
	cursor: pointer;
}

.dive-iframe-fullscreen{
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
}

.dive-button-fullscreen{
	z-index: 9999;
	position: absolute;
	top: 160px;
	left: 44px;
	border: 2px solid #fff;
	width: 75px;
	text-align: center;
	font-size: 19px;
	opacity: 0.7;
}

.dive-button-fullscreen a{
	color: #fff;
}

.dive-button-fullscreen a:hover{
	color: #fff;
}

.dive-button-fullscreen:hover{
	opacity: 1;
}

@media only screen and (max-width: 720px){
	.dive-button-fullscreen{
		top: 100px;
		left: 23px;
	}
	.pressure-changer{
		bottom: 100px;
	}
}