/* CSS for InteractiveHTML5XBlock */

.interactivehtml5_block .count {
    font-weight: bold;
}

.interactivehtml5_block a {
    cursor: pointer;
}


#wrapper-modal.modal {
	background: #fff;
	position: relative;
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100% !important;
	left: 0 !important;
	right:  0 !important;
	overflow-x: scroll !important;
	min-height: 300px !important;
	height: 100%;
}

#wrapper {
	margin-top: 50px;
	position: relative;
}

#container {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#container p {
	margin-top: 75px;
}

#expansion-container {
	margin-top: 105px;
	position: absolute;
	left: 0px;
	top: 270px;
	width: 100%;
}

#expansion-container img {
	display: block;
}

#row1 {
	margin-left: 0 !important;
	position: absolute;
	left: 45%;
	z-index: 14;
	display: block;
}

#row1glow {
	position: absolute;
	z-index: 15;
	margin-left: 45% !important;
}

#row2,#row3,#row4,#row5 {
	margin: 0 auto !important;
}
p {
	margin-left: 10px;
}
#wrapper-modal {
	margin-top: -115px !important;
}

.modal a.close-modala[class*="icon-"] {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}
.reduceZIndex {
	z-index: 1;
}
