<div class="wistia_block">
	<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
	<div class="wistia_embed videoFoam=true" style="width:1280px;height:720px;">&nbsp;</div>

	<div class="hidden">
		<p class="url_src">{{ url_src }}</p>
	</div>
</div>
