<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
	<ul class="list-input settings-list">
		<li class="field comp-setting-entry is-set">
			<div class="wrapper-comp-setting">
                <label class="label setting-label" for="wistia_edit_src">SOURCE URL or ID</label>
                <input class="input setting-input" id="wistia_edit_src" value="{{ url_src }}" type="text">
            </div>
            <span class="tip setting-help">The URL or ID for your Wistia video.</span>
		</li>	
	</ul>

	<div class="xblock-actions">
        <span class="xblock-editor-error-message"></span>
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">Save</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">Cancel</a>
            </li>
        </ul>
    </div>
</div>